<%= stylesheet_link_tag "style" %>
<center>
  <p style="color:yellow; font-size:20px;">
Welcome to E-lerning, <%= @current_user.name %>
<br> <br>
You have successfully signed up to E-Learning.com,
your username is:  <%= @current_user.name %>.

<br><br>
Thanks for joining and have a great day!

</p>
</center>
